<div class="container">
  <div class="row">
    <h2 class="anime-header"> Anime </h2>
    <div class="anime">
      <div class="col-md-5 col-md-3">
        <div class="thumbnail">
          <%= image_tag(@anime.image, size: "400x400") %>
        </div>
      </div>
      <div class="anime-info">
        <p class="anime-title"> <%= @anime.title %>
          <% unless user_signed_in? && current_user.favorite_animes.exists?(anime_id: @anime.id) %>
            <%= link_to '<i class="glyphicon glyphicon-star"></i> Add to Favorites'.html_safe,
                        add_favorite_anime_path(@anime.id), class: "btn btn-fav-anime btn-sm",
                        method: :post, data: {confirm: "Are you sure?"} %>
          <% end %>
        </p>
        <p><strong><%= "Genre".pluralize(@anime.genres.count) %></strong>:
          <tr>
            <% genres(@anime).each do |genre| %>
              <td> <%= genre.genre_name %> </td>
            <% end %>
          </tr>
        </p>
        <p class="anime-summary"><strong>Summary:</strong> <%= @anime.information %></p>
      </div>
      <div class="anime-characters">
        <div class="row">
          <div class="col-md-12">
            <p class="character-header"> <%= "Character".pluralize(@anime.characters.size) %>
              <span class="badge badge-character"><%= @anime.characters.size %></span>
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to "insert new character", new_anime_character_path(@anime), class: "btn btn-character" %>
              <% end %>
            </p>
            <%= render 'characters/index', characters: @anime.characters %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>