<div class="container">
  <div class="row">
    <h2 class="anime-header"> Anime </h2>
    <div class="anime">
      <div class="col-md-5 col-md-3">
        <div class="thumbnail">
          <%= image_tag(@anime.image, size: "400x400") %>
        </div>
      </div>
      <div class="anime-info">
        <p class="anime-title"> <%= @anime.title %> </p>
        <p class="anime-summary"><strong>Summary:</strong> <%= @anime.information %></p>
      </div>
      <div class="anime-characters">
        <div class="row">
          <div class="col-md-12">
            <p class="character-header"> <%= "Character".pluralize(@anime.characters.size) %>
              <span class="badge badge-character"><%= @anime.characters.size %></span>
              <%= link_to "insert new character", new_anime_character_path(@anime), class: "btn btn-character" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>